<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campfire gallery</title>
    <link href="../static/style1.css?ver=1" th:href="@{/style1.css}" rel="stylesheet" />
    <link href="../static/style.css?ver=1" th:href="@{/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://raw.githubusercontent.com/Ghost-3/CampfireGallery/main/favicon.png" rel="icon"/>
</head>

<body>
<nav th:class="${topNav}" id="Topnav">
    <form class="search" method="post" action="/extended">
        <input type="number" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" min="1" id="input" name="input" th:placeholder="'Id: ' + ${id0}" />
        <button id="inputButton" type="submit">
            <i class="fa fa-check"></i>
        </button>
    </form>
    <a th:href="'/extended/?id=' + ${id1} + '&changeId=-6000'">-1000</a>
    <a th:href="'/extended/?id=' + ${id2} + '&changeId=-600'">-100</a>
    <a th:href="'/extended/?id=' + ${id3} + '&changeId=-60'">-10</a>
    <a th:href="'/extended/?id=' + ${id4} + '&changeId=60'">+10</a>
    <a th:href="'/extended/?id=' + ${id5} + '&changeId=600'">+100</a>
    <a th:href="'/extended/?id=' + ${id6} + '&changeId=6000'">+1000</a>
    <a id="Switch" th:href="'/?id=' + ${id7}">Expand
        <i class="fa fa-toggle-on"></i>
    </a>
    <button id="switchTN" class="icon" onclick="window.location.href='switchTopNav';">
        <i class="fa fa-bars"></i>
    </button>
</nav>
<main class="main">
    <a id="prev" class="prev" th:href="'/extended/?id=' + ${id8} + '&changeId=-6'">&#10094;</a>
    <a id="next" class="next" th:href="'/extended/?id=' + ${id9} + '&changeId=6'">&#10095;</a>
    <div id="gallery" class="row">
        <img id="firstImage" th:src="'https://campfire.moe/api/image/' + ${id10}">
        <img th:src="'https://campfire.moe/api/image/' + ${id11}">
        <img th:src="'https://campfire.moe/api/image/' + ${id12}">
        <img th:src="'https://campfire.moe/api/image/' + ${id13}">
        <img th:src="'https://campfire.moe/api/image/' + ${id14}">
        <img th:src="'https://campfire.moe/api/image/' + ${id15}">
    </div>
    <button id="upButton" style="position: fixed;right: 20px;bottom: 20px;border: 2px solid #ffffff;background: none;padding: 13px 16px;outline: none;" onclick="scrollToTop(1000)">
        <i class="fa fa-angle-up"></i>
    </button>
</main>
<script language="JavaScript">
        document.addEventListener("keyup", function(event) {
        if (event.key == "ArrowLeft") {
            document.getElementById('prev').click();
        }
        else if (event.key == "ArrowRight") {
            document.getElementById('next').click();
        }
        else if (event.key == "Enter") {
            document.getElementById('inputButton').click();
        }
        });
        let input = document.querySelector('#input');
        input.focus();

        function scrollToTop (duration) {
            // cancel if already on top
            if (document.scrollingElement.scrollTop === 0) return;

            const cosParameter = document.scrollingElement.scrollTop / 2;
            let scrollCount = 0, oldTimestamp = null;

            function step (newTimestamp) {
                if (oldTimestamp !== null) {
                    // if duration is 0 scrollCount will be Infinity
                    scrollCount += Math.PI * (newTimestamp - oldTimestamp) / duration;
                    if (scrollCount >= Math.PI) return document.scrollingElement.scrollTop = 0;
                    document.scrollingElement.scrollTop = cosParameter + cosParameter * Math.cos(scrollCount);
                }
                oldTimestamp = newTimestamp;
                window.requestAnimationFrame(step);
            }
            window.requestAnimationFrame(step);
        }
</script>
</body>
</html>